<div id="login_form">
<h1>Appello Streams</h1>
<label for="username">Login:</label>
<input id="username" type="text" [(ngModel)]="user.username" />
<label for="password">Password:</label>
<input [(ngModel)]="user.pass" type="password" required />
<button type="button" (click)="onGetClicked(user)">Submit</button>
</div>
<div id="new_user_form">
    <h2>New User Form</h2>
    <label for="username">Username:</label>
    <input id="username" type="text" [(ngModel)]="userToAdd.username" />
    <label for="password">Password:</label>
    <input [(ngModel)]="userToAdd.pass" type="password" required />
    <label for="email">Email:</label>
    <input [(ngModel)]="userToAdd.email" type="email" required />
    <button type="button" (click)="onAddClicked(userToAdd)">Submit</button>
</div>